<h3>Search Results will show here</h3>
<div id="main"></div>


<script id="flightDetailsTemplate" type="html/template">
    <h1>flightDetailsTemplate</h1>
</script>
<script id="navigationTemplate" type="html/template">
    <h1>navigationTemplate</h1>
</script>
<script id="reservationTemplate" type="html/template">
    <h1>reservationTemplate</h1>
</script>
<script id="searchFormTemplate" type="html/template">
    <h1>searchFormTemplate</h1>
</script>
<script id="searchResultTemplate" type="html/template">
    <h1>searchResultTemplate</h1>
</script>
<script id="seatTemplate" type="html/template">
    <h1>seatTemplate</h1>
</script>
