<div id="main">
    <h3>Burning Airlines</h3>
    <form id="searchForm">
        <div id="selectors">
            <input type="text" name="origin" placeholder="From">
            <input type="text" name="destination" placeholder="To">
        </div>
        <div id="searchButtons">
            <button id="submit">Submit</button>
            <button id="cancel">Cancel</button>
        </div>
    </form>
    <div id="searchResults">
        <h3>Flight Search Results</h3>

        <div id="searchResultsTabulated"></div>
    </div>
    <!-- SEAT VIEW -->
    <div id="seatViewResults"></div>

</div>

<script id="flightDetailsTemplate" type="html/template">
    <h1>flightDetailsTemplate</h1>
</script>

<script id="navigationTemplate" type="html/template">
    <h1>navigationTemplate</h1>
</script>
<script id="reservationInputViewTemplate" type="html/template">
    <h1>reservationInputViewTemplate</h1>
</script>
<script id="searchFormTemplate" type="html/template">
    <h1>searchFormTemplate</h1>
</script>

<script id="searchResultTemplate" type="html/template">
        <li>
            <%%= id %>
            <%%= origin %>
            <%%= destination %>
            <%%= plane %>
        </li>
</script>
