<div id="main">
    <form id="searchFlightsBackbone" action="submit">
        <label>Burning Airlines</label>
        <button>Search Flights</button>
        <div id="searchForm">

        <input type="button" name="name" value="" placeholder="From">
        <input type="button" name="name" value="" placeholder="To">
      </div>
    </form>
    <div id="searchResults">
        <h3>Flight Search Results</h3>
        
        <div id="searchResultsTabulated"></div>
    </div>

</div>

<script id="flightDetailsTemplate" type="html/template">
    <h1>flightDetailsTemplate</h1>
</script>
<script id="navigationTemplate" type="html/template">
    <h1>navigationTemplate</h1>
</script>
<script id="reservationTemplate" type="html/template">
    <h1>reservationTemplate</h1>
</script>
<script id="searchFormTemplate" type="html/template">
    <h1>searchFormTemplate</h1>
</script>
<script id="searchResultTemplate" type="html/template">
    <h1>searchResultTemplate</h1>
</script>
<script id="seatTemplate" type="html/template">
    <h1>seatTemplate</h1>
</script>
