<div class="textHead">
  <div class="sign_up_page">
    <h1 class="headerYo">New User</h1>

    <%= render 'form' %>

    <div class="formYo">
      <%= link_to 'Back', users_path %>
    </div>
  </div>
</div>
