/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  font-family: 'Anaheim', sans-serif;
}

#main {
  height: 550px;
  width: 900px;
  margin: 0 auto;
  border: 2px solid #f00;
  border-radius: 25px;
}

#main h3 {
  color:#f00;
  text-align: center;
  padding-top: 10px;
}

#searchForm {
  height: 180px;
  margin: auto 40px;
  border: 2px solid #f00;
}

#searchResults h3 {
  color: #000;
  text-align: left;
  margin-left: 40px;
}

#searchResultsTabulated {
  border: 2px solid #000;
  margin: auto 40px;
  height: 180px;
}

#searchFlightsBackbone {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  text-align: right;
}

#searchFlightsBackbone label {
  color:#f00;
  font-size: 2em;
  font-weight: bold;
  padding-right: 10px;
}

#searchFlightsBackbone button {
  color:#fff;
  background: #f00;
  font-size: 2em;
  font-weight: bold;
  padding-right: 10px;
  border-radius: 6px;
  border: 1px solid #000;
}

#navbar {
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: inline;
}

#navbar li {
  text-decoration: none;
  display: inline;
  padding: 8px 20px;
}

.textHead {
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepageYo {
  align-self: center;
  margin: 0;
  font-family: 'Finger Paint', cursive;
  text-align: center;
}

.homepageYo h1 {
  font-size: 70px;
}

#burnbaby {
  font-family: 'Akronim', cursive;
  color: red;
}

#searchForm {
  padding-top:15px;
  padding-left: 15px;
  text-align: left;
}


#searchForm input {
  color:#000;
  background: #fff;
  font-size: 1.8em;
  text-transform: uppercase;
  /*padding-right: 10px;*/
  border-radius: 6px;
  border: 2px solid #000;
}

#searchForm button {
  color:#fff;
  background: #f00;
  font-size: 1.8em;
  /*font-weight: bold;*/
  margin-top: q0px;
  padding-right: 10px;
  border-radius: 6px;
  border: 1px solid #000;
  text-align: right;
}
